*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
/sonar-project.properties
/config.properties

*.log
errorLog_2017-02-05_00-49-26.log.lck
*.lck
build.fxbuild
build.fxbuild
*.fxbuild
*.fxbuild
*.fxbuild
*.fxbuild
*.fxbuild
prototypes/__pycache__/_frangi.cpython-35.pyc
*.db
*.iml
*.bmp
*.png
*.tif
*.pyc
prototypes/.ipynb_checkpoints/Optimizacion-checkpoint.ipynb
prototypes/Optimize/.idea/misc.xml
prototypes/Optimize/.idea/modules.xml
*.toc
ImageProcessingPython/build/PyinstallerTest2/base_library.zip
*.pkg
*.spec
!src/rsc/*
PythonApp/build/*
PythonApp/dist/*
PythonApp/__pycache__

src/rsc/Thumbs.db
build/build.xml
PythonApp/cmd.exe
PythonApp/cmd.exe
Example Projects/*
Perikymata_v2.1.jar
*.exe
Others/*
*.ucls
*.useq
PythonApp/.idea/workspace.xml
PythonApp/.idea/workspace.xml