*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
/sonar-project.properties
/config.properties

*.log
errorLog_2017-02-05_00-49-26.log.lck
*.lck
build.fxbuild
build.fxbuild
*.fxbuild
*.fxbuild
*.fxbuild
*.fxbuild
*.fxbuild
prototypes/.ipynb_checkpoints/Evaluar solución-checkpoint.ipynb
prototypes/.ipynb_checkpoints/1 Detección de bordes-checkpoint.ipynb
prototypes/__pycache__/_frangi.cpython-35.pyc
*.db
*.iml
ImageProcessingPython/.idea/workspace.xml
ImageProcessingPython/.ipynb_checkpoints/Pruebas nuevo modulo-checkpoint.ipynb
*.bmp
*.png
*.tif
*.pyc
prototypes/.ipynb_checkpoints/Optimizacion-checkpoint.ipynb
prototypes/Optimize/.idea/misc.xml
prototypes/Optimize/.idea/modules.xml
*.toc
ImageProcessingPython/build/PyinstallerTest2/base_library.zip
*.pkg
ImageProcessingPython/build/*
ImageProcessingPython/cmd.exe
ImageProcessingPython/dist/*
*.spec
